* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(152, 109, 163);
    color: white;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 70%;
    margin: 40px auto;
    border: 5px solid #D998CE;
    box-shadow: 5px 10px #493246;
}

.special {
    color:#4d2c47;
    font-weight: bold;
}


.boldit {
        color:#493246;
        font-weight: bold;
        font-style: italic;
    }
